version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: sdlc-backend
    restart: always
    ports:
      - "8002:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend:/app
    command: uvicorn app:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: sdlc-frontend
    restart: always
    ports:
      - "5173:5173"
    env_file:
      - ./frontend/.env
    command: npm run dev
    depends_on:
      - backend
