name: Sync-changes-to-HF

on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: false

      - name: Ignore large files
        run: git filter-branch --index-filter 'git rm -rf --cached --ignore-unmatch "notebooks/sdlc_workflow.png"' HEAD

      - name: Ignore large files2
        run: git filter-branch2 --index-filter 'git rm -rf --cached --ignore-unmatch "workflow.jpeg"' HEAD

      - name: Ignore large files3
        run: git filter-branch3 --index-filter 'git rm -rf --cached --ignore-unmatch "notebooks/sdlc_workflow.png"' HEAD

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://shubhamprajapati7748:$HF_TOKEN@huggingface.co/spaces/shubhamprajapati7748/sdlc-copilot main
